.menu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  border: 2px solid #00bfff; /* Añadido borde */
  background-color: #333; /* Asegurar fondo oscuro */
  padding: 20px;
  border-radius: 10px;
}

h2 {
  color: #00bfff;
  margin-bottom: 20px;
}

.nes-btn {
  margin: 10px 0;
  width: 300px;
  height: 50px; /* Altura aumentada de los botones */
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-mode {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px; /* Ajustar el ancho para consistencia */
}

.toggle-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Añadir espacio entre los botones */
}

.nes-btn.is-primary {
  background-color: #00bfff; /* Azul */
  color: white;
}

.nes-btn.is-success {
  background-color: #32cd32; /* Verde */
  color: white;
}

.nes-btn.is-warning {
  background-color: #ffd700; /* Amarillo */
  color: black;
}

.nes-btn.is-error {
  background-color: #ff6347; /* Rojo */
  color: white;
}
